<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles-admin.css" />
    <title>MultiConvert Admin</title>
</head>
<body>
    <nav id="sidebar">
        <ul>
            <li>
                <span class="logo">MultiConvert DB</span>
                <li>
                    <a href="{{ url_for('admin.logout') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                    <path d="M480-80q-33 0-56.5-23.5T400-160v-120h-160q-33 0-56.5-23.5T160-360v-240q0-33 23.5-56.5T240-680h160v-120q0-33 23.5-56.5T480-880h0q33 0 56.5 23.5T560-800v120h160q33 0 56.5 23.5T800-560v240q0 33-23.5 56.5T720-240h-160v120q0 33-23.5 56.5T480-80ZM400-280h160v-80H400v80Zm0-240h160v-80H400v80Z"/>
                    </svg>
                    Cerrar sesión
                    </a>
                </li>
            </li>
            <li>
                <button class="dropdown-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm240-240H200v160h240v-160Zm80 0v160h240v-160H520Zm-80-80v-160H200v160h240Zm80 0h240v-160H520v160ZM200-680h560v-80H200v80Z"/>
                    </svg>
                    <span>Tablas</span>
                    <span class="arrow">▸</span>
                </button>
                <ul class="sub-menu">
                <li><a href="{{ url_for('admin.usuarios_panel') }}">Usuarios</a></li>
                <li><a href="{{ url_for('admin.roles_panel') }}">Roles</a></li>
                <li><a href="{{ url_for('admin.conversions_panel') }}">Conversiones</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main>
    {% block main_content %}{% endblock %}
    </main>
    
    <script>
    document.querySelectorAll(".dropdown-btn").forEach(button => {
        button.addEventListener("click", () => {
            const subMenu = button.nextElementSibling;
            button.classList.toggle("active");
            subMenu.classList.toggle("active");
        });
    });
    </script>
</body>
</html>
