<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MultiConvert</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>Convertir PDF a Word</h2>
  <input type="file" id="pdfFile" accept=".pdf" required>
  <br><br>
  <button onclick="convertPDF()">Convertir</button>

  <div id="progressContainer">
    <p>Convirtiendo PDF...</p>
    <div id="progressWrapper">
      <div id="progressBar"></div>
    </div>
  </div>

  <button id="downloadBtn">Descargar Word</button>

  <script src="js/script.js"></script>
</body>
</html>


